.container{
    display: flex;
    gap: 100px;
}

.posts{
    flex: 1;
}
.post{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0px;
}
.imgContainer{
    width: 200px;
    height: 100px;
    position: relative;
}
.img{
    object-fit: cover;
}
.delete{
    cursor: pointer;
    color: red;
}
.new{
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 20px;

}
.input, .textArea{
    padding: 10px;
    background-color: transparent;
    border: 2px solid #bbb;
    border-radius: 3px;
    color: #bbb;
    font-size: 20px;
    font-weight: bold;
}